<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>
<main>
  <form class="col" action="/progress" method = "post" id = "modalform">
    <label for="validationDefault03" class="form-label">Date # of December(ex. enter 10 for December 10)</label>
    <input type="number" class="form-control" id="" name="date"value="Enter a name" style="display: inline-block;width: 500px; margin-top: auto; margin-bottom: auto; vertical-align: bottom;" required>
    <button class="btn btn-primary" id="submit-button" type="submit" style="display: inline-block;margin-top: auto;margin-bottom: auto;">Submit form</button>
</form>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src=
  "https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
  <link
    rel="stylesheet"
    href=
  "https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css"
  />
  <link
    rel=
  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    type="text/css"
  />
  
  <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
  <script src=
  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>
  
  <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
  </script>
  
  <style>
    body {
      text-align: center;
      background:#ddd;
    }

    .pie {
      --p:20;
      --b:22px;
      --c:darkred;
      --w:150px;
      
      width:var(--w);
      aspect-ratio:1;
      position:relative;
      display:inline-grid;
      margin:5px;
      place-content:center;
      font-size:25px;
      font-weight:bold;
      font-family:sans-serif;
      color: rgb(0, 0, 0);
    }
    .pie:before, .pie:after {
      content:"";
      position:absolute;
      border-radius:50%;
    }
    .pie:before {
      inset:0;
      background:
        radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
      -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
              mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    }
    .pie:after {
      inset:calc(50% - var(--b)/2);
      background:var(--c);
      transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
    }
    .animate {
      animation:p 1s .5s both;
    }
    @keyframes p {
      from{--p:0}
    }

    #pieCharts {
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    .col{
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      display: inline-block;
      padding: 5px;
    }

    #pieCharts {
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    .col{
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      display: inline-block;
      padding: 5px;
    }

  </style>
  <body>

    <table id="pieCharts">
      <tr id="headings"></tr>
      <tr id="pies"></tr>
    </table>
  
    <script>
      function loadPieCharts(category){
        // headings
        var headingsRow = document.getElementById("headings");
        var heading = headingsRow.insertCell();
        heading.innerHTML = `<h1 style="margin:30px;">` + category + `</h1>`;
        // Pie charts
        var pieRow = document.getElementById("pies");
        var pie = pieRow.insertCell();
        var percent = 0;
        percent = (category=="Calories") ? <%- data2[0].calories %>/<%-usersbmr %> * 100: percent; 
        percent = (category=="Carbohydrates") ? <%- data2[0].carbohydrates %>/300 * 100 : percent;
        percent = (category=="Sodium") ? <%- data2[0].sodium %>/1500 * 100 : percent;
        percent = (category=="Sugars") ? <%- data2[0].sugars %>/50 * 100 : percent;
        percent = (category=="Protein") ? <%- data2[0].protein %>/50 * 100: percent;
        pie.innerHTML = `<span class="pie animate" style=" --p:` + percent + `; --c:rgb(0, 221, 246); --b:10px; margin-top:30px;float: center;">` + parseInt(percent)+ `%</span>`;
        const pies = document.getElementById('pieCharts');
        pies.appendChild(pie);
      }
      const categories = ["Calories", "Carbohydrates", "Sodium", "Sugars", "Protein"];
      categories.forEach(loadPieCharts);
    </script>
  </body>
</main>
<%- include ('../partials/footer') %>